# Ignore Next.js build output
client/.next/
client/build/
client/out/
client/node_modules/

# Ignore Python virtual environments
server/env/
server/venv/
server/__pycache__/
server/api/__pycache__/


# Ignore IDE/editor folders
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log
logs/

# Ignore Terraform state and lock files
.terraform/
terraform.tfstate*
.terraform.lock.hcl

# Ignore Docker files
*.pid

# Ignore swap/temp files
*.swp
*~
*.tmp
.env

docs/